<h1>BlogFunctions details</h1>
    <p>Name:<%= @blog_function.name %></p> 
    <p>Email:<%= @blog_function.email %></p>
    <p>Content:<%= @blog_function.content %></p>
    <br>
<%= link_to 'return to blog_functions',  blog_functions_path %>
